* {
box-sizing: border-box;
background-color: bisque;
}



#container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    margin: 1em auto;
    font-size: xx-large;
}

h2 {
    margin-bottom:1em ;
    margin-top:1em ;
}

img {
width: 60%;
height:85vh ;
}

p {
    font-size: x-large;
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: lightpink;
}


a {
    font-size: medium;
    text-decoration: none;
    margin: 3em 1em;
}

ul {
    margin-bottom: 10px;
    list-style-type:none;
}

a {
    font-size: 20px;

}